* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main--container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.dark {
  background: rgba(30, 28, 48, 0.9);
  color: #FFF;
}

.nav-icon {
  filter: invert(10%) sepia(35%) saturate(555%) hue-rotate(181deg) brightness(93%) contrast(93%);
}