* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main--container {
  display: flex;
  margin: 0 auto;
  height: fit-content;
  width: 100vw;
  max-width: 1400px;
}

.dark-theme {
  background: #1C1A2E;
  color: #FFF;
}

.nav--logo {
  width: 20px;
  height: 20px;
}

.recharts-tooltip-wrapper {
  pointer-events: none;
  border: none;
  outline: none;
}